// color scheme
$violet: hsl(263, 55%, 52%);
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// font
@mixin font($size) {
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: $size;
}

// flex-box for cards
@mixin flex($direction: column) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: flex-start;
}

// profile image's border setting
@mixin profileImage($color) {
	.student {
		.profile-img {
			border-color: rgba($color, 0.5);
		}
	}
}

//opacity of color controll
@mixin colorOpacity($color) {
	.student {
		.name {
			color: $color;
		}
		.verified {
			color: rgba($color, 0.5);
		}
	}

	.highlight {
		color: $color;
	}

	.comment {
		color: rgba($color, 0.7);
	}
}

// initial setting
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	@include font(13px);
}

body {
	min-height: 100vh;
	@include flex;
	align-items: center;
	background-color: $light-grayish-blue;
}
