.testimonial {
	height: 100%;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 10px 10px 26px 0px rgba(191, 191, 191, 1);

	.student {
		.profile-img {
			float: left;
			width: 30px;
			height: 30px;
			border-radius: 100%;
			border-width: 2px;
			border-style: solid;
			margin-right: 15px;
		}
	}

	.highlight {
		clear: left;
		font-size: 1.4rem;
		margin: 0.8rem auto;
		line-height: 1.8rem;
		word-spacing: 0.05rem;
	}

	.comment {
		line-height: 1.4rem;
	}

	&.quotation {
		background-image: url(/images/bg-pattern-quotation.svg);
		background-repeat: no-repeat;
		background-position: 85% 0;
	}

	&.violet {
		background-color: $violet;
		@include colorOpacity($white);
		@include profileImage($light-grayish-blue);
	}

	&.grayish-blue {
		background-color: $dark-grayish-blue;
		@include colorOpacity($white);
		@include profileImage($light-grayish-blue);
	}

	&.white {
		background-color: $white;
		@include colorOpacity($dark-grayish-blue);
		@include profileImage($light-gray);
	}

	&.blackish-blue {
		background-color: $dark-blackish-blue;
		@include colorOpacity($white);
		@include profileImage($light-grayish-blue);
	}
}
