.container {
	width: 330px;
	margin: 0;
	padding: 2rem;
	display: flex;
	gap: 30px 28px;
	flex-direction: column;
	justify-content: center;
}

@mixin media-desktop {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

@include media-desktop {
	.container {
		width: 1100px;
		height: 572px;

		//grid
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(auto-fill, 1fr);
		grid-template-areas:
			'first first second third'
			'forth fifth fifth third';
	}

	.first {
		grid-area: first;
	}

	.second {
		grid-area: second;
	}

	.third {
		grid-area: third;
	}

	.forth {
		grid-area: forth;
	}

	.fifth {
		grid-area: fifth;
	}
}
